*{
    margin: 0;
    padding: 0;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 70px;
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
  }

.hero-sec{
    height: 100vh;
  }
  
  .hero-overlay{
    background: -webkit-linear-gradient(black, black, rgb(255, 255, 255));
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  .hero-content{
    font-size: 50px;
    font-weight: bold;
    color: #fff;
    width: 70%;
    margin: auto;
  }
  
  .hero-content__sub-title li{
    display: inline-block;
    font-size: 15px;
    color: #e6e6e6;
  }
  
  .hero-button{
    padding: 11px 30px;
    background-color: #fff;
    border-radius: 30px;
    display: inline-block;
    font-size: 15px;
    color: #0f0c18;
    font-family: Roboto-Light;
    font-weight: bold;
    margin-top: 30px;
  }

  .nav{
    display: flex;
    flex-direction: row;
    column-gap: 30px;
  }
  
  .nav li a{
    font-size: 15px;
    text-decoration: none;
  }
  
  .navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin: auto;
  }

  .navbar .navbar-nav > li > a, .navbar .navbar-brand, .navbar .navbar-nav > li > a:focus{
    background-color: transparent;
    color: #fff;
  }
  
  .social-icon ul li{
    display: inline-block;
  }
  
  .social-icon ul li a{
    color: #000000;
    text-decoration: none;
  }


  .about{
    height: 100vh;
    width: 70%;
    margin: auto;
  }

  .about-div{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .page-section-title{
    font-size: 35px;
  color: #000000;
  text-align: center;
  font-weight: bold;
  }
  .white{
    color: #fff;
  }

.about-sec{
  display:  flex;
  flex-direction: row;
  column-gap: 30px;
  justify-content: center;
}

.about-sec img{
  width: 40%;
  border-radius: 5%;
}

.about-sec-right{
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  justify-content: center;
  width: 50%;
  margin: auto;
}
.about-sec-right p{
  font-size: 16px;
  color: #000000;
  display: block;
}

.about-bio{
  font-size: 15px;
  color: #636262;
}

.about-bio strong{
  font-size: 15px;
  color: #2c4055;
  font-family: Roboto-Light;
}

.bio-div{
  display: flex;
  flex-direction: row;
  column-gap: 40px;
}
.btn-div{
  display: flex;
  flex-direction: row;
  column-gap: 40px;
}

.button{
	padding: 12px 55px 12px 55px;
  font-weight: bold;
  border-radius: 30px;
  font-size: 15px;
}

.button:hover{
 color: #fff;
}

.button-colorful{
 background-color: #131314;
 font-family: Roboto-Light;
 color: #fff;
}

.button-default{
  color: #455a64;
  border: 1px solid #161718;
  margin-right: 15px;
}

.button-default:hover{
  background-color: #0e0e0f;
  color: #fff;
  border: 1px solid #0d0d0e;
}

.button-margin{
 display: inline-block;
 margin-top: 40px;
}

.skill{
  background: url("../assets/images/skill-background.png") no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
}

.skill-overlay{
 background-color: #000000;
 opacity: 0.8;
 height: 100vh;
 color: white;
}

.skill-card-div{
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  justify-content: center;
  width: 70%;
  margin: auto;
}

.skill-card{
  background-color: white;
  padding: 10px 40px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
}

.skill .thumbnail{
  color: #000000;
}

.skill .thumbnail .progress-bar{
  border-radius: 10px;
}

.skill .thumbnail .progress{
 height: 8px;
 background-color: #E1E1E1;
}
